<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}"></head>
    <body>

        <header th:replace="~{layout/plantilla::header}"></header>
        <nav th:replace="~{layout/plantilla::navbar}"></nav>
        <main>

            <div th:replace="~{/pago/fragmentos::infoPago}"></div>
            <div th:replace="~{/pago/fragmentos::tabla}"></div>
        </main>


        <footer th:replace="~{layout/plantilla::footer}"></footer>


    </body>
</html>